In [2]:
import math
import pandas as pd
import numpy as np

In [8]:
dd = pd.read_csv("doi_news_name.csv")
print(len(dd))
print(dd['doi'].nunique())
print(dd.dtypes)
print(dd['author'].nunique())

4438148
521863
doi         object
news_cnt     int64
author      object
dtype: object
6466

In [66]:
dd = pd.read_csv("doi_news_name.csv")
print(len(dd))
print(dd['doi'].nunique())
dd = dd.drop(['news_cnt'], axis = 1)
#print(dd.dtypes)
#print(dd.head(5))
dd = dd.rename(columns = {'author':'media'})
dd['media'] = dd['media'].str.lower()

4438148
521863

In [69]:

dd[dd['media'] == 'thenewyorker']
#a = [string for string in dd['media'].unique() if string.endswith(".com")]

                                doi         media
19786    10.1038/d41586-020-01741-7  thenewyorker
41176    10.1038/d41586-020-02801-8  thenewyorker
42293    10.1038/d41586-020-00387-9  thenewyorker
44455    10.1038/d41586-020-00927-3  thenewyorker
52173    10.1038/d41586-019-03595-0  thenewyorker
...                             ...           ...
4390118   10.1016/j.rse.2018.03.020  thenewyorker
4412342          10.1093/joc/jqy051  thenewyorker
4414098    10.1177/2056305118763366  thenewyorker
4421904   10.1177/15554120211014151  thenewyorker
4430387    10.1177/1078087419838058  thenewyorker

[245 rows x 2 columns]

In [22]:
dd = pd.read_csv("doi_news_name.csv")
print(len(dd))
print(dd['doi'].nunique())
dd = dd.drop(['news_cnt'], axis = 1)
#print(dd.dtypes)
#print(dd.head(5))
dd = dd.rename(columns = {'author':'media'})

dd['media'] = dd['media'].str.strip()
dd['media'] = dd['media'].str.replace(r'\s+', '', regex=True)
dd['media'] = dd['media'].str.lower()
dd['media'] = dd['media'].str.replace(r'\.com$', '', regex=True)
print(dd.head(5))
print("length of doi ",len(dd))

df = pd.read_excel("media_by_me.xlsx", 'combined')
print(len(df))
#print(df.head(10))
df['media'] = df['media'].str.strip()
df['media'] = df['media'].str.replace(r'\s+', '', regex=True)
df['media'] = df['media'].str.lower()
df['media'] = df['media'].str.replace(r'\.com$', '', regex=True)
print(len(df))
df = df.drop_duplicates()
df['is_top'] = 1

res = dd.merge(df, on = 'media', how = 'left')

res.fillna({'is_top':0}, inplace=True)
print(len(res))
print(res.head(20))
print(len(res[res['is_top'] > 0]))

#dd.to_csv("doi_media_for_databricks.csv", index = False)

4438148
521863
                          doi            media
0  10.1038/d41586-021-03543-x  technologytimes
1  10.1038/d41586-022-02801-w       headtopics
2  10.1038/d41586-022-02801-w     spectrumnews
3  10.1038/d41586-022-00403-0     timesofindia
4  10.1038/d41586-022-00403-0       mtvuutiset
length of doi  4438148
272
272
4438148
                           doi            media  is_top
0   10.1038/d41586-021-03543-x  technologytimes     0.0
1   10.1038/d41586-022-02801-w       headtopics     0.0
2   10.1038/d41586-022-02801-w     spectrumnews     0.0
3   10.1038/d41586-022-00403-0     timesofindia     1.0
4   10.1038/d41586-022-00403-0       mtvuutiset     0.0
5   10.1038/d41586-022-00403-0              msn     1.0
6   10.1038/d41586-022-00403-0              msn     1.0
7   10.1038/d41586-022-00403-0     indexhungary     0.0
8   10.1038/d41586-022-00403-0         mediumus     0.0
9   10.1038/d41586-022-00403-0      theguardian     1.0
10  10.1038/d41586-022-00403-0       yahoo!news     0.0
11  10.1038/d41586-022-00403-0     businessfast     0.0
12  10.1038/d41586-022-00403-0              msn     1.0
13  10.1038/d41586-022-00403-0     newsgrooveuk     0.0
14  10.1038/d41586-022-00403-0        medportal     0.0
15  10.1038/d41586-022-00403-0        aufeminin     0.0
16  10.1038/d41586-022-00403-0        elespañol     0.0
17  10.1038/d41586-022-00403-0     theaseanpost     0.0
18  10.1038/d41586-022-00403-0     ilmessaggero     0.0
19  10.1038/d41586-022-00403-0       abcnyheter     0.0
566000

In [6]:
dd = pd.read_csv("doi_news_name.csv")
print(len(dd))
print(dd['doi'].nunique())
print(dd.dtypes)
author_cnt = dd.groupby('author')['doi'].count().reset_index()
author_cnt.columns = ['media', 'no_of_doi']
author_cnt = author_cnt.sort_values(by=['no_of_doi'], ascending = False)
author_cnt['media'] = author_cnt['media'].str.strip()
author_cnt['media'] = author_cnt['media'].str.replace(r'\s+', '', regex=True)
author_cnt['media'] = author_cnt['media'].str.lower()
author_cnt['media'] = author_cnt['media'].str.replace(r'\.com$', '', regex=True)
#print(author_cnt.tail(30))
print("unique news media ",author_cnt['media'].nunique())
author_cnt.to_csv("unique_media_names.csv", index = False)

4438148
521863
doi         object
news_cnt     int64
author      object
dtype: object
unique news media  6451

In [61]:
strings_with_com = [string for string in author_cnt['media'] if string.endswith(".com")]

print(strings_with_com)

[]

In [10]:
print(author_cnt[author_cnt['media'] == 'vice'])

     media  no_of_doi
5872  vice       6709

In [4]:
df = pd.read_excel("media_by_me_2.xlsx", 'combined')
print(len(df))
#print(df.head(10))
df['media'] = df['media'].str.strip()
df['media'] = df['media'].str.replace(r'\s+', '', regex=True)
df['media'] = df['media'].str.lower()
df['media'] = df['media'].str.replace(r'\.com$', '', regex=True)
print(len(df))
df = df.drop_duplicates()
print(len(df))
#print(df.head(10))

273
273
269

In [5]:
d = pd.read_excel("media_by_me_classification.xlsx", 'Sheet10')
print(len(d))
#print(df.head(10))
d['media'] = d['media'].str.strip()
d['media'] = d['media'].str.replace(r'\s+', '', regex=True)
d['media'] = d['media'].str.lower()
d['media'] = d['media'].str.replace(r'\.com$', '', regex=True)
print(len(d))
d = d.drop_duplicates()
print(len(d))


intersection = set(df['media']) & set(d['media'])
# Print the intersection
print(intersection)
print(len(intersection))

115
115
115
{'thesandiegounion-tribune', 'livescience', 'scitechdaily', 'washingtonpost', 'losangelestimes', 'thesacramentobee', 'southfloridasun-sentinel', 'wired', 'tampabaytimes', 'nbcnews', 'thearizonarepublic', 'space', 'sfgate', 'abcnews', 'complex', 'thehill', 'thedailybeast', 'theconversation', 'morningnews', 'cnbc', 'sciencex', 'forbes', 'chemistryworld', 'theindianapolisstar', 'sciencedaily', 'cosmopolitan', 'thenewyorker', 'thedenverpost', 'dailyherald', 'startribune', 'newscientist', 'nationalgeographic', 'india', 'glamour', 'newyorktimes', 'eurekalert!', 'futurism', 'detroitfreepress', 'dailynews', 'refinery29', 'advancedsciencenews', 'buzzfeed', 'medium', 'newyorkpost', 'hindustantimes', 'theguardian', 'popularscience', 'msn', 'sciencenews', 'businessinsider', 'chicagosun-times', 'newyorkdailynews', 'foxnews', 'usatoday', 'futurity', 'scientificamerican', 'thesaltlaketribune', 'people', 'huffpost', 'marketwatch', 'arstechnica', 'nature', 'st.louispost-dispatch', 'bloomberg', 'theepochtimes', 'dailystar', 'scimex', 'thedallasmorningnews', 'timesofindia', 'newstribune', 'health', 'miamiherald', 'sci-news', 'thebostonglobe', 'star-telegram', 'phys.org', 'chicagotribune', 'gizmodo', 'vice', 'courier-journal', 'lifehacker', 'news18', "investor'sbusinessdaily", 'democratandchronicle'}
84

In [12]:
author_cnt[author_cnt['media'] == "eurekalert!"]

            media  no_of_doi
1866  eurekalert!      94849

In [65]:
#intersection = df['media'][df['media'].isin(author_cnt['media'])]

intersection = set(df['media']) & set(author_cnt['media'])
# Print the intersection
print(intersection)
print(len(intersection))



# Print the Boolean Series
s = "eurekalert!"
print(s in intersection)

{'newyorkpost', 'newyorkdailynews', "investor'sbusinessdaily", 'people', 'futurism', 'startribune', 'foxnews', 'indiatimes', 'news18', 'thehill', 'southfloridasun-sentinel', 'scimex', 'chicagotribune', 'losangelestimes', 'buzzfeed', 'chicagosun-times', 'nationalgeographic', 'dailyherald', 'hindustantimes', 'marketwatch', 'detroitfreepress', 'popularscience', 'thearizonarepublic', 'washingtonpost', 'deadline', 'gizmodo', 'huffpost', 'vice', 'dailynews', 'cnbc', 'complex', 'democratandchronicle', 'nbcnews', 'theguardian', 'glamour', 'thesaltlaketribune', 'sfgate', 'health', 'newyorktimes', 'courier-journal', 'medium', 'futurity', 'phys.org', 'dailystar', 'india', 'theepochtimes', 'cosmopolitan', 'thesacramentobee', 'thebostonglobe', 'timesofindia', 'usatoday', 'tampabaytimes', 'newscientist', 'miamiherald', 'nature', 'thedailybeast', 'thenewyorker', 'businessinsider', 'thedallasmorningnews', 'thedenverpost', 'scientificamerican', 'eurekalert!', 'lifehacker', 'morningnews', 'chemistryworld', 'wired', 'advancedsciencenews', 'laopinión', 'star-telegram', 'livescience', 'theindianapolisstar', 'sciencenews', 'abcnews', 'sci-news', 'space', 'msn', 'sciencedaily', 'scitechdaily', 'forbes', 'sciencex', 'theconversation', 'newstribune', 'arstechnica', 'bloomberg', 'refinery29', 'st.louispost-dispatch', 'wallstreetjournal', 'thesandiegounion-tribune'}
88
True

# drafts and tests

In [6]:
import pandas as pd

# Assuming dataset is your dataset DataFrame
data = {
    'doi': ['doi1', 'doi2', 'doi3', 'doi4', 'doi5'],
    'author': ['Author A', 'Author A', 'Author B', 'Author C', 'Author B'],
    'name': [1,1,2,2,3]
}

dataset = pd.DataFrame(data)
print(dataset)

# Group the dataset by 'author' and count the number of DOIs for each author
author_counts = dataset.groupby('author')['doi'].count().reset_index()

# Rename the columns for clarity
author_counts.columns = ['Author', 'Number of DOIs']

print(author_counts)

    doi    author  name
0  doi1  Author A     1
1  doi2  Author A     1
2  doi3  Author B     2
3  doi4  Author C     2
4  doi5  Author B     3
     Author  Number of DOIs
0  Author A               2
1  Author B               2
2  Author C               1

In [31]:
import pandas as pd

# Create a sample DataFrame
data = {'column_name': ['  value1', 'value2  ', '  value3  ']}
df = pd.DataFrame(data)
#print(df)

# Remove leading and trailing whitespace from a specific column
df['column_name'] = df['column_name'].str.strip()

# Print the modified DataFrame
print(df[df['column_name'] == 'value3'])

  column_name
2      value3

In [34]:
import pandas as pd

# Create a sample DataFrame
data = {'column_name': ['  value 1 ', 'value 2  ', '  value 3  ']}
df = pd.DataFrame(data)

# Remove all white spaces from a specific column
df['column_name'] = df['column_name'].str.replace(r'\s+', '', regex=True)

# Print the modified DataFrame
print(df)

  column_name
0      value1
1      value2
2      value3

In [43]:
import pandas as pd

# Create a sample DataFrame
data = {'column_name': ['example.com', 'website.com', 'domain.com']}
df = pd.DataFrame(data)

# Remove ".com" at the end of each string in a specific column
df['column_name'] = df['column_name'].str.replace(r'\.com$', '', regex=True)

# Print the modified DataFrame
print(df)

  column_name
0     example
1     website
2      domain

In [ ]:
#remove .com at the end, make everything small letter, remove any space (leading, tailing, or middle)

In [19]:
print(author_cnt[author_cnt['media'] == 'Cnn.com'])

Empty DataFrame
Columns: [media, no_of_doi]
Index: []

In [24]:
import pandas as pd

# Sample DataFrame
data = {'id': [1, 2, 3, 4, 5], "name":['a','b','c','a','c']}
df = pd.DataFrame(data)

# List of IDs to remove
ids_to_remove = [2, 4]

# Filtering rows
filtered_df = df[~df['id'].isin(ids_to_remove)]

print(filtered_df)

   id name
0   1    a
2   3    c
4   5    c

In [9]:
import pandas as pd

# Create a sample DataFrame
data = {'id': [[1, 1, 3], [4, 5], [6]],
        'name': [['Alice', 'Bob', 'Charlie'], ['David', 'Eva'], ['Frank']],
        'other_name': ['Name1', 'Name2', 'Name3']}

df = pd.DataFrame(data)

# Create empty lists to store the exploded data
exploded_data = []

# Iterate over rows
for index, row in df.iterrows():
    ids = row['id']
    names = row['name']
    other_name = row['other_name']
    
    # Pair each ID with its corresponding name and other_name
    for i in range(len(ids)):
        exploded_data.append({'id': ids[i], 'name': names[i], 'other_name': other_name})

# Create a new DataFrame from the exploded data
df_expanded = pd.DataFrame(exploded_data)

print(df_expanded)

   id     name other_name
0   1    Alice      Name1
1   1      Bob      Name1
2   3  Charlie      Name1
3   4    David      Name2
4   5      Eva      Name2
5   6    Frank      Name3

In [6]:
import pandas as pd

# Create a sample DataFrame
data = {'id': [[1, 2, 3], [4, 5], [6]],
        'name': [['Alice', 'Bob', 'Charlie'], ['David', 'Eva'], ['Frank']],
         'class': ['a','b','b']}

df = pd.DataFrame(data)
print(df)

# Create empty lists to store the exploded data
exploded_data = []

# Iterate over rows
for index, row in df.iterrows():
    ids = row['id']
    names = row['name']
    
    # Pair each ID with its corresponding name
    for i in range(len(ids)):
        exploded_data.append({'id': ids[i], 'name': names[i]})

# Create a new DataFrame from the exploded data
df_expanded = pd.DataFrame(exploded_data)

print(df_expanded)

          id                   name class
0  [1, 2, 3]  [Alice, Bob, Charlie]     a
1     [4, 5]           [David, Eva]     b
2        [6]                [Frank]     b
   id     name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David
4   5      Eva
5   6    Frank

In [3]:
import pandas as pd

# Create a sample DataFrame
data = {'id': [[1, 1, 3], [4, 5], [6,7]],
        'name': [['Alice', 'Bob', 'Charlie'], ['David', 'Eva'], ['Frank','Trudy']],
        'other_name1': ['Name1', 'Name2', 'Name3'],
        'other_name2': ['Value1', 'Value2', 'Value3']}

df = pd.DataFrame(data)

# Explode the 'id' and 'name' columns
df_expanded = df.explode(['id', 'name'])

# Repeat the other_name columns to match the length after exploding
num_other_name_columns = df.filter(like='other_name').shape[1]  # Count other_name columns

for i in range(1, num_other_name_columns + 1):
    column_name = f'other_name{i}'
    df_expanded[column_name] = df[column_name].repeat(df['id'].str.len())

# Reset the index
df_expanded.reset_index(drop=True, inplace=True)

print(df_expanded)

  id     name other_name1 other_name2
0  1    Alice       Name1      Value1
1  1      Bob       Name1      Value1
2  3  Charlie       Name1      Value1
3  4    David       Name2      Value2
4  5      Eva       Name2      Value2
5  6    Frank       Name3      Value3
6  7    Trudy       Name3      Value3

In [3]:
import pandas as pd

# Create a sample DataFrame
data = {'id': [[1, 1, 3], [4, 5], [6,7]],
        'name': [['Alice', 'Bob', 'Charlie'], ['David', 'Frank'], ['Frank','Trudy']],
        'class': [[10,11,12],[13,14],[15,16]],
        'other_name1': ['Name1', 'Name2', 'Name3'],
        'other_name2': ['Value1', 'Value2', 'Value3']}

df = pd.DataFrame(data)

# Explode the 'id' and 'name' columns
df_expanded = df.explode(['id', 'name','class'])

# Repeat the other_name columns to match the length after exploding
num_other_name_columns = df.filter(like='other_name').shape[1]  # Count other_name columns

for i in range(1, num_other_name_columns + 1):
    column_name = f'other_name{i}'
    df_expanded[column_name] = df[column_name].repeat(df['id'].str.len())

# Reset the index
df_expanded.reset_index(drop=True, inplace=True)

print(df_expanded)

  id     name class other_name1 other_name2
0  1    Alice    10       Name1      Value1
1  1      Bob    11       Name1      Value1
2  3  Charlie    12       Name1      Value1
3  4    David    13       Name2      Value2
4  5    Frank    14       Name2      Value2
5  6    Frank    15       Name3      Value3
6  7    Trudy    16       Name3      Value3

In [5]:
data = {'id': [1,1,2,3,4,4,4,5],
       'name':['a','b','b','c','a','b','c','e']}
df = pd.DataFrame(data)
print(df)

df = df.drop_duplicates(subset=['id'],keep = 'first', ignore_index = True)
print(df)

   id name
0   1    a
1   1    b
2   2    b
3   3    c
4   4    a
5   4    b
6   4    c
7   5    e
   id name
0   1    a
1   2    b
2   3    c
3   4    a
4   5    e